@import  'tailwindcss';



@font-face {
       font-family: 'Moaro';
       src: url(./assets/fonts/Moaro.ttf) format('truetype');
       font-weight: 600;
       font-style: normal;
       font-display: normal;
       font-display: swap;
}

@font-face { 
       font-family: 'Moche';
       src: url(./assets/fonts/Moche.ttf) format('truetype');
       font-weight: 400;
       font-style: normal;
       font-display: normal;
       font-display: swap;
}

@theme {
       --font-custom: 'Moaro', sans-serif;
       --font-frank: 'Moche', sans-serif;
}